@media screen and (min-width: 1023px){
body{
    background-color: red;
}
}
@media screen and (min-width: 760px){
    body{
        background-color: rgb(110, 35, 35);
    }
}

@media screen and (min-width: 453px){
    body{
        background-color: rgb(49, 43, 129);
    }
}